@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans:wght@700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0D0D0D;
    color: #D9DBF1;
}

main{
    display: flex;
    justify-content: center;  
}
.left {
    width: 50%;
    margin-top: 10px;
    margin-right: 3em;
    margin-left: 15vw;
}

.title {
    font-size: 4em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #09f7bb;
    padding-bottom: 0.2em;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: smaller;
    margin-bottom: 2em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: smaller;
    color: #07b98d;
    padding: 1em 0px;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    padding: 5px;
    color: #DDF0EC;
}

.list {
    list-style-type: none;
    color: #DDF0EC;
}

li {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    font-weight: 300;
}

li::before {
    margin-left: 30px;
    content: "- ";
}

.spec {
    font-family: 'Merriweather', serif;
    font-size: 700;
    padding-bottom: 5px;
}

.sec_school {
    margin-top: 15px;
}

.right {
    margin-right: 10em;
    margin-top: 25px;
    margin-bottom: 5em;
}

.contact_info {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: smaller;
    margin-bottom: 12em;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 3em;
}

.skills p {
    margin-bottom: 0.9em;
    color: #DDF0EC;
}

.awards {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 3em;
}

.awards p {
    margin-bottom: 0.9em;
    color: #DDF0EC;
}

.language {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 0.8em;
    color: #DDF0EC;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_logos{
    margin:30px 0 ;
}
.footer_logos img{
    width: 150px;
    height: 50px;
    margin: 3px 10px;
}

footer p a{
    text-decoration: none;
    color: #07b98d;
    cursor: pointer;
}
footer p a:hover{
    color:#09f7bb;
}